# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
*.egg

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*
!.env.example
